<div id="cart-form">
  <% if @product.individual_sale -%>
    <%= render 'cart_form' %>
  <% end -%>
  <% if @product.part? -%>
    _______________________________________
    <%= render(:partial => "product_assemblies" ) %>  
  <% end -%>
</div>

